.fullScreen {
  width: 100%;
  height: 100vh;
}
.btn-griffindor {
  background-color: var(--griffindorPrimary) !important;
  color: var(--griffindorSecondary) !important;
}
.btn-hufflepuff {
  background-color: var(--hufflepuffPrimary) !important;
  color: var(--hufflepuffSecondary) !important;
}
.btn-slytherin {
  background-color: var(--slytherinPrimary) !important;
  color: var(--slytherinSecondary) !important;
}
.btn-ravenclaw {
  background-color: var(--ravenclawPrimary) !important;
  color: var(--ravenclawSecondary) !important;
}
